@model GigHub1.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/Site.css" rel="stylesheet" />
}

@if (!Model.ShowActions)
{ 
    <p class="alert alert-info">Login first to subscribe for a gigs</p>
}
else
{
    string checkAttend = "";
    if (Model.FiltratedByAttendance)
    {
        checkAttend = "checked";
    }

    <input type="checkbox" class="checkboxAttend" @checkAttend />
    <span>Fitler by attending</span>

    <input type="checkbox" class="checkboxFollow" />
    <span>Filter by follows</span>
}

<ul class="gigs">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
                    <div class="date" >
                        <div class="month">
                            @gig.DateTime.ToString("MMM", Model.Culture)
                        </div>
                        <div class="day">
                            @gig.DateTime.ToString("d ")
                        </div>
                    </div>

                    @if (Model.Atendances.Count() == 0 || !Model.Atendances.Contains(gig.Id))
                    {
                        <button data-gig-id="@gig.Id" class="btn btn-default btn-sm js-toggle-attendance">
                            Going?
                        </button>
                    }
                    else
                    {
                        <button data-gig-id="@gig.Id" class="btn btn-info btn-sm js-toggle-attendance">
                            Going
                        </button>           
                    }
            
                    @if (Model.AppUserId != gig.ArtistId)
                    {
                        if (Model.Follows.Count() == 0 || !Model.Follows.Contains(gig.ArtistId))
                        {
                        <button data-following-id="@gig.ArtistId" class="btn btn-default btn-sm follow">
                            Follow
                        </button>
                        }
                        else
                        {
                        <button data-following-id="@gig.ArtistId" class="btn btn-info btn-sm follow">
                            Followed
                        </button>
                        }
                    }
                    else
                    {
                        <button data-gig-id="@gig.Id" class="btn btn-warning btn-sm">
                            Remove
                        </button>
                    }

                    <div class="details">
                        <span class="artist">
                            @gig.Artist.Name
                        </span>
                        <span class="genre">
                            @gig.Genre.Name
                        </span>
                        <span class="venue">
                            @gig.Venue
                        </span>            
                    </div>            
                    <hr />
                </li>
    }
</ul>
@section scripts {
    @if (Model.ShowActions)
    {
        <script src="~/Scripts/IndexPageScriptsAuthorised.js"></script>
    } 
}